name: Release

on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: bingtsingw/composite-actions/pnpm-install@v1

      - run: pnpm run build

      - uses: changesets/action@v1
        with:
          version: pnpm changeset version
          publish: pnpm changeset-publish
          commit: 'chore: version packages'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
